@mixin tree-view-lines($elem-height) {
    margin-left: 15px;
    position: relative;
    width: calc(100% - 15px);

    &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: -10px;
        width: 1px;
        height: calc(#{$elem-height} + 10px);
        background-color: $cc09;
    }

    &:last-child::after {
        height: calc(#{$elem-height} / 2 + 5px);
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(#{$elem-height} / 2);
        left: -10px;
        width: 8px;
        height: 1px;
        background-color: $cc09;
    }

    &[open]:not(:last-child)::after {
        height: calc(100% + 5px);
    }
}

@mixin cont_qs1 {
    color: $cc09;
    padding: 8px;
    background-color: $cc00;
    color: $cc09;
    text-transform: uppercase;

    &::-webkit-details-marker {
        margin-right: 14px;
    }
}

@mixin cont_qs2 {
    color: $cc09;
    padding: 8px;
    background-color: $cc03;
    color: $cc09;
    text-transform: uppercase;

    &::-webkit-details-marker {
        margin-right: 14px;
    }
}

@mixin cont_qs3 {
    color: $cc09;
    padding: 8px;
    background-color: $cc02;
    color: $cc09;
    text-transform: uppercase;

    &::-webkit-details-marker {
        margin-right: 14px;
    }
}

@mixin cont_qs4 {
    color: $cc09!important;
    padding: 8px;
    background-color: $cc06;
    color: $cc00;
    text-transform: uppercase;

    &::-webkit-details-marker {
        margin-right: 14px;
    }
}

@mixin cont_qs5 {
    color: $cc00;
    padding: 8px;
    background-color: $cc09;
    color: $cc00;
    border: 1px solid $cc06;
    

    &::-webkit-details-marker {
        margin-right: 14px;
    }
}

@mixin answers {
    color: $cc09;
    padding: 8px;
    background-color: $cc00;
    color: $cc09;
    text-transform: uppercase;

    &::-webkit-details-marker {
        margin-right: 14px;
    }
}

@mixin cont_details {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: $cc09;
    color: $cc00;
    position: relative;

    span {
        color: #041320;
    }
}