$cc00: #383D47;
$cc01: #FDE8D3;
$cc02: #F5CBA3;
$cc03: #E2745D;
$cc04: #DF603C;
$cc05: #ECB343;
$cc06: #83492E;
$cc07: #722022;//buttonss
$cc08: #4A2415;
$cc09: #3E1D13;
$cc10: #50776E;
$cc11: #DD5E7F;
$cc12: #DD8626;
$ccw: #FFFFFF;
$ccg:#F7F7F7;

$radius: 4px;
$shadow: box-shadow(14px 14px 14px rgba(4, 4, 4, 0.25));

$small: 393px;
$medium: 394px;
$large: 443px;
$xlarge: 697px;
$xxlarge: 800px;